.row {
    display: flex;

}

.column {
    flex: 33.33%;
    padding: 5px;
  }

.col-m-4 {
    flex: 25%;
    padding: 3px;
    text-align: center; 
    color: blue;     

}


.Introduction {
    text-align: center;
    background-image: url("./images/background/h_img.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    height: 400px;
   
}

.services {
    text-align: center;
    background-image: url("./images/background/s_image.jpg");
    background-repeat: no-repeat;
    color: white;
    background-size: 100%;
    width: auto;
    height: 300px;
    

}

.contact {
    text-align: center;
    background-image: url("./images/background/c_image.jpg");
    background-repeat: no-repeat;
    color: red;
    background-size: 100%;
    background-position: center;
}
.message {
    height: 200px;
    text-align: center;
       
}
#message {
    height: 150px;
    width: 650px ;
    
    
}


.col-m-3 {
    text-align: center;

}
input[type=text]{
    background-color: inherit;
    color: white;
    border-color: white;
    
}
input[type=email]{
    background-color: inherit;
    color: white;
    border-color: white;
}

.end {
    text-align: center;
}
