.row {
    display: flex;

}
.column {
    flex: 33.33%;
    padding: 5px;
  }
.col-m-4 {
    flex: 25%;
    padding: 3px;

}

.Introduction {
    text-align: center;
    background-image: url("./images/background/h_img.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
   
}

.services {
    text-align: center;
    background-image: url("./images/background/s_image.jpg");
    background-repeat: no-repeat;
    color: white;
    background-size: 100%;

}

.contact {
    text-align: center;
    background-image: url("./images/background/c_image.jpg");
    background-repeat: no-repeat;
    color: red;
    background-size: 100%;
    background-position: center;
}
.message {
    height: 150px;
    text-align: center;
    
}


.col-m-3 {
    text-align: center;

}

.end {
    text-align: center;
}