.row {
    display: flex;

}
.column {
    flex: 33.33%;
    padding: 5px;
  }
.col-m-4 {
    flex: 25%;
    padding: 3px;

}

.Introduction {
    text-align: center;
    background-image: url("./images/background/h_img.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    background-repeat: no-repeat;
    

}

.services {
    text-align: center;
    background-image: url ("./images/background/s_image.jpg");
    background-repeat: no-repeat;
    color: black;
    background-size: 100%;
}